pipeline/PL_For_Each_Pattern_match.json
{
	"name": "PL_For_Each_Pattern_match",
	"properties": {
		"activities": [
			{
				"name": "getDbDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_Params",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "DB_Details.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "getFolderDetails",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "getDbDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select id,container_name,source_folder,target_folder,business_type from common_folders;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Generic_Dataset_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"pmTableName": "common_folders",
							"pmServerName": {
								"value": "@activity('getDbDetails').output.value[0]['pmServerName']",
								"type": "Expression"
							},
							"pmDbName": {
								"value": "@activity('getDbDetails').output.value[0]['pmDbName']",
								"type": "Expression"
							},
							"pmUserName": {
								"value": "@activity('getDbDetails').output.value[0]['pmUserName']",
								"type": "Expression"
							},
							"pmPassword": {
								"value": "@activity('getDbDetails').output.value[0]['pmPassword']",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFolderDetails",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getFolderDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getFolderDetails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "@{item().src_folder}",
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Gen_Datalake",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@{item().cont_name}",
											"type": "Expression"
										},
										"foldername": "@{item().tgt_folder}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Gen_Datalake",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@{item().cont_name}",
											"type": "Expression"
										},
										"foldername": "@{item().tgt_folder}"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"x": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Final"
		},
		"annotations": []
	}
}