pipeline/PL_Logic_app_email.json
{
	"name": "PL_Logic_app_email",
	"properties": {
		"activities": [
			{
				"name": "web-email-alert-success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "cp_Blob_Datalake_Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-30.centralus.logic.azure.com:443/workflows/6d604f2298d3455689cf83f8dfa7a67d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gxYJOn2h_NqBYyyP-2bNnlcyLyKoN0qiunK8Z02Zofg",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\"datafactory_name\" : \"@{pipeline().DataFactory}\",\n\"email_list\" : \"@{pipeline().parameters.email_list}\",\n\"pipeline_name\" : \"@{pipeline().Pipeline}\",\n\"runid\" : \"@{pipeline().RunId}\",\n\"status\" : \"SUCCESSFULLY COMPLETED\",\n\"timestamp : \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cp_Blob_Datalake_Database",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "cp_Blob_Datalake_Database",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "web-email-alert-fail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "cp_Blob_Datalake_Database",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-30.centralus.logic.azure.com:443/workflows/6d604f2298d3455689cf83f8dfa7a67d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gxYJOn2h_NqBYyyP-2bNnlcyLyKoN0qiunK8Z02Zofg",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\"datafactory_name\" : \"@{pipeline().DataFactory}\",\n\"email_list\" : \"@{pipeline().parameters.email_list}\",\n\"pipeline_name\" : \"@{pipeline().Pipeline}\",\n\"runid\" : \"@{pipeline().RunId}\",\n\"status\" : \"@{activity('cp_Blob_Datalake_Database').Error.Message}\",\n\"timestamp : \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"email_list": {
				"type": "string",
				"defaultValue": "raghuveer.matam@ihsmarkit.com"
			}
		},
		"annotations": []
	}
}