pipeline/PL_Logic_app_email.json
{
	"name": "PL_Logic_app_email",
	"properties": {
		"activities": [
			{
				"name": "web-email-alert-success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "cp_Blob_Datalake_Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-30.centralus.logic.azure.com:443/workflows/6d604f2298d3455689cf83f8dfa7a67d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gxYJOn2h_NqBYyyP-2bNnlcyLyKoN0qiunK8Z02Zofg",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\"datafactory_name\":\"@{pipeline().DataFactory}\",\n\"email_list\":\"@{pipeline().parameters.email_list}\",\n\"pipeline_name\":\"@{pipeline().Pipeline}\",\n\"runid\":\"@{pipeline().RunId}\",\n\"status\":\"SUCCESSFULLY COMPLETED\",\n\"timestamp\":\"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "cp_Blob_Datalake_Database",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_Start_Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "cp_Blob_Datalake_Database",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "web-email-alert-fail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "cp_Blob_Datalake_Database",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-30.centralus.logic.azure.com:443/workflows/6d604f2298d3455689cf83f8dfa7a67d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gxYJOn2h_NqBYyyP-2bNnlcyLyKoN0qiunK8Z02Zofg",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\"datafactory_name\" : \"@{pipeline().DataFactory}\",\n\"email_list\" : \"@{pipeline().parameters.email_list}\",\n\"pipeline_name\" : \"@{pipeline().Pipeline}\",\n\"runid\" : \"@{pipeline().RunId}\",\n\"status\" : \"@{activity('cp_Blob_Datalake_Database').Error.Message}\",\n\"timestamp : \"@{utcNow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PL_Start_Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@string(utcnow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PL_End_Time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web-email-alert-success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_time",
					"value": "@string(utcnow())"
				}
			},
			{
				"name": "PL_Execution_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "PL_End_Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_time",
					"value": {
						"value": "@string(div(sub(ticks(formatDateTime(variables('end_time'))),ticks(formatDateTime(variables('start_time')))),1000))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update_Common_Process",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PL_Execution_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@insert into common_process values ('',pipeline().Pipeline,pipeline().RunId,\nformatDateTime(variables('start_time')),formatDateTime(variables('end_time')),\nvariables('execution_time'),activity('cp_Blob_Datalake_Database').Status);",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Generic_Dataset_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"pmTableName": "common_process",
							"pmServerName": "dudmfct.database.windows.net",
							"pmDbName": "DUDMFCT",
							"pmUserName": "WELL_FCT",
							"pmPassword": "Admin@123"
						}
					}
				}
			}
		],
		"parameters": {
			"email_list": {
				"type": "string",
				"defaultValue": "raghuveer.matam@ihsmarkit.com"
			}
		},
		"variables": {
			"start_time": {
				"type": "String"
			},
			"end_time": {
				"type": "String"
			},
			"execution_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}