pipeline/PL_M_Src_to_DB_WIth_Proc.json
{
	"name": "PL_M_Src_to_DB_WIth_Proc",
	"properties": {
		"activities": [
			{
				"name": "LkpParamSet",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetMeta]",
						"storedProcedureParameters": {
							"LoadCat": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ProcParam",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Generic_Dataset_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"pmTableName": {
								"value": "@pipeline().parameters.Table",
								"type": "Expression"
							},
							"pmServerName": {
								"value": "@pipeline().parameters.Server",
								"type": "Expression"
							},
							"pmDbName": {
								"value": "@pipeline().parameters.Database",
								"type": "Expression"
							},
							"pmUserName": {
								"value": "@pipeline().parameters.user",
								"type": "Expression"
							},
							"pmPassword": {
								"value": "@pipeline().parameters.pwd",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PL_Src_to_Tgt",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LkpParamSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Src_to_Tgt",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SrcFolderName": {
							"value": "@array(activity('LkpParamSet').output.value)[0].sourcefolder",
							"type": "Expression"
						},
						"SrcFileName": {
							"value": "@array(activity('LkpParamSet').output.value)[0].sourcefilename",
							"type": "Expression"
						},
						"TgtFolderName": {
							"value": "@array(activity('LkpParamSet').output.value)[0].targetfolder",
							"type": "Expression"
						},
						"TgtFileName": {
							"value": "@array(activity('LkpParamSet').output.value)[0].targetfilename",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PL_DL_to_DB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_Src_to_Tgt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_DL_to_DB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"targetFolder": {
							"value": "@array(activity('LkpParamSet').output)[0].targetfolder",
							"type": "Expression"
						},
						"targetFile": {
							"value": "@array(activity('LkpParamSet').output.value)[0].targetfilename",
							"type": "Expression"
						},
						"table": {
							"value": "@array(activity('LkpParamSet').output.value)[0].table_name",
							"type": "Expression"
						},
						"server": {
							"value": "@pipeline().parameters.Server",
							"type": "Expression"
						},
						"database": {
							"value": "@pipeline().parameters.Database",
							"type": "Expression"
						},
						"user": {
							"value": "@pipeline().parameters.user",
							"type": "Expression"
						},
						"pwd": {
							"value": "@pipeline().parameters.pwd",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Table": {
				"type": "string",
				"defaultValue": "paramset"
			},
			"Server": {
				"type": "string",
				"defaultValue": "dudmfct.database.windows.net"
			},
			"Database": {
				"type": "string",
				"defaultValue": "WELL_FCT"
			},
			"user": {
				"type": "string",
				"defaultValue": "admin1001"
			},
			"pwd": {
				"type": "string",
				"defaultValue": "Admin@123"
			},
			"ProcParam": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"arr": {
				"type": "String"
			}
		},
		"annotations": []
	}
}