pipeline/PL_Master_Src_to_DB.json
{
	"name": "PL_Master_Src_to_DB",
	"properties": {
		"activities": [
			{
				"name": "LkpParamSet",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select sourcefolder,sourcefilename,targetfolder,targetfilename,table_name,loadorder from paramset",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Generic_Dataset_Table_DS",
						"type": "DatasetReference",
						"parameters": {
							"pmTableName": {
								"value": "@pipeline().parameters.Table",
								"type": "Expression"
							},
							"pmServerName": {
								"value": "@pipeline().parameters.Server",
								"type": "Expression"
							},
							"pmDbName": {
								"value": "@pipeline().parameters.Database",
								"type": "Expression"
							},
							"pmUserName": {
								"value": "@pipeline().parameters.user",
								"type": "Expression"
							},
							"pmPassword": {
								"value": "@pipeline().parameters.pwd",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpParamSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpParamSet').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "PL_Src_to_Tgt",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Src_to_Tgt",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ContName": "adlscont",
									"SrcFolderName": {
										"value": "@item().sourcefolder",
										"type": "Expression"
									},
									"SrcFileName": {
										"value": "@item().sourcefilename",
										"type": "Expression"
									},
									"TgtFolderName": {
										"value": "@item().targetfolder",
										"type": "Expression"
									},
									"TgtFileName": {
										"value": "@item().targetfilename",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL_DL_to_DB",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "PL_Src_to_Tgt",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_DL_to_DB",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"targetCont": "adlscont",
									"targetFolder": {
										"value": "@item().targetfolder",
										"type": "Expression"
									},
									"targetFile": {
										"value": "@item.targetfilename",
										"type": "Expression"
									},
									"table": {
										"value": "@item().table_name",
										"type": "Expression"
									},
									"server": {
										"value": "@pipeline().parameters.Server",
										"type": "Expression"
									},
									"database": {
										"value": "@pipeline().parameters.Database",
										"type": "Expression"
									},
									"user": {
										"value": "@pipeline().parameters.user",
										"type": "Expression"
									},
									"pwd": {
										"value": "@pipeline().parameters.pwd",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Table": {
				"type": "string",
				"defaultValue": "paramset"
			},
			"Server": {
				"type": "string",
				"defaultValue": "dudmfct.database.windows.net"
			},
			"Database": {
				"type": "string",
				"defaultValue": "WELL_FCT"
			},
			"user": {
				"type": "string",
				"defaultValue": "admin1001"
			},
			"pwd": {
				"type": "string",
				"defaultValue": "Admin@123"
			}
		},
		"annotations": []
	}
}